Package: com.muirey03.smallsiri
Name: SmallSiri
Depends: mobilesubstrate
Version: 1.2.2
Architecture: iphoneos-arm
Description: an updated version of SmallSiri for IOS 15 arm64e (credit for the tweak goes to Muirey03)
Maintainer: Muirey03
Author: Muirey03
Section: Tweaks